/* Geral */

body{
    background-color: #6959CD;
}

.form-label{
   color: #FFFFFF;
}

.nav-link{
   color: #FFFFFF;
}

.navbar-brand{
   color: #FFFFFF;
}

.btn{
   color: #FFFFFF;
}

.form-check-label{
   color: #FFFFFF;
}

.text-brand{
   line-height: 45px;
}

.texto-branco{
   color: #FFFFFF;
}

.text, p{
   text-align: center;

}


*{
   margin: 0;
   padding: 0;
   font-family: arial;
   box-sizing: border-box;
}

/* Containers */

#main-container{
   display: flex;
   flex-direction: row;
   height: 100vh;
   color: #fff;
}

#address-container, #form-container{
   flex: 1 1 0;
   height: 100%;
   text-align: left;
}

/*Address Container*/

#address-container{
   background-image: url('img/logoPD.ico');
   background-size: cover;
   background-position-x: -130px;
   color: #fff;
   position: relative;
}

.fade{
   width: 100%;
   height: 100%;
   background: #000;
   opacity: .7;
}

#address-content{
   position: absolute;
   top: 35%;
   left: 25vh;
   width: 260px;
}

#address-content h2{
   color:#fff;
   margin-bottom: 15px;
   position: relative;
   padding-left: 40px;
}

#address-content ion-icon{
   position: absolute;
   top: 2px;
   left: 0;
}

#address-content p{
   font-weight: bold;
   margin-bottom: 50px;
}

/* Form Container*/

#form-container{
   padding-top: 50px;
   text-align: center;
}

#form-container h2{
   color: #fff;
   margin-bottom: 50px;
   font-size: 30px;
}

#contact-form{
   width: 500px;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}

#contact-form input,
#contact-form label,
#contact-form textarea{
   display: block;
   padding: 10px;
   width: 100%;
   color: rgb(0, 0, 0);
}

#contact-form label{
   color: #fff;
   font-weight: bold;
   border-bottom: none;
}

#contact-form input{
   margin-bottom: 15px;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder{
   color: #bbb;
}

#contact-form input[type="submit"]{
   background-color: #836FFF;
   color: #FFF;
   font-size: 16px;
   font-weight: bold;
   cursor: pointer;
   width: 300px;
   margin: 30px auto;
   border: 2px solid transparent;
   transition: .5s;
}

#contact-form input[type="submit"]:hover{
   color: #000;

}

@media(max-width: 900px){

   #main-container{
      height: 100%;
      flex-wrap: wrap;
   }

   #main-container, #address-container{
      flex: 1 1 100%;
   }

   #form-container{
      order: -1;
      padding: 10px;
   }

   #form-container h2{
      margin-bottom: 25px;
   }

   #contact-form{
      width: 100%;
   }

   #contact-form input,
   #contact-form label,
   #contact-form textarea{
      border-color: #aaa;
   }

   #address-container{
      background-position: 0;
      height: 500px;
   }

   .fade{
      opacity: .8;
   }

   #address-content{
      top: 25%;
      left: 18%;
   }
}

