html,body {
	height: 100%;
}

body.esqueceu {
	background-color: #6959CD;
	font-size: 14px;
}

.esqueceu .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 40px auto;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
	position: relative;
	z-index: 1;
}

.esqueceu .brand img {
	width: 100%;
}

.esqueceu .card-wrapper {
	width: 400px;
}

.esqueceu .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.esqueceu .card.fat {
	padding: 10px;
}

.esqueceu .card .card-title {
	margin-bottom: 30px;
}

.esqueceu .form-control {
	border-width: 2.3px;
}

.esqueceu .form-group label {
	width: 100%;

}

.esqueceu .btn.btn-block {
	padding: 12px 10px;
}

.esqueceu .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

.esqueceu .form-select{
	width: 20%;
	color: #888;
}

@media screen and (max-width: 425px) {
	.esqueceu .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.esqueceu .card.fat {
		padding: 0;
	}

	.esqueceu .card.fat .card-body {
		padding: 15px;
	}
}
