html,body {
	height: 100%;
}

body.meu-login {
	background-color:  #6959CD;
	font-size: 14px;
}

.meu-login .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 40px auto;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
	position: relative;
	z-index: 1;
}

.meu-login .brand img {
	width: 100%;
}

.meu-login .card-wrapper {
	width: 400px;
}

.meu-login .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.meu-login .card.fat {
	padding: 10px;
}

.meu-login .card .card-title {
	margin-bottom: 30px;
}

.meu-login .form-control {
	border-width: 2.3px;
}

.meu-login .form-group label {
	width: 100%;
}

.meu-login .btn.btn-block {
	padding: 12px 10px;
}

.meu-login .footer {
	margin: 40px 0;
	color: #fff;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.meu-login .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.meu-login .card.fat {
		padding: 0;
	}

	.meu-login .card.fat .card-body {
		padding: 15px;
	}
}
