body{
    background-color: #6959CD;
}

.form-label{
    color: #FFFFFF;
}

.nav-link{
    color: #FFFFFF;
}

.navbar-brand{
    color: #FFFFFF;
}

.btn{
    color: #FFFFFF;
}

.form-check-label{
    color: #FFFFFF;
}

.text-brand{
    line-height: 45px;
}

.texto-branco{
    color: #FFFFFF;
}

.text, p{
    text-align: center;

}

.container-marketing{
    margin-top: 8px;
}

.lead{
    color: #FFFFFF;

}

.featurette-heading{
    color: #FFFFFF;
}

.row{
    text-align: center;
}

.navbar{
    background-color: #6959CD;
}

