body{
    background-color: #6959CD;
}

h1{
    color: #FFFFFF;
}

.lead{
    color: #FFFFFF;
}

.form-label{
    color: #FFFFFF;
}

.nav-link{
    color: #FFFFFF;
}

.navbar-brand{
    color: #FFFFFF;
}

.btn{
    color: #FFFFFF;
}

.form-check-label{
    color: #FFFFFF;
}

.text-brand{
    line-height: 45px;
}

.texto-branco{
    color: #FFFFFF;
}

.text, p{
    text-align: center;

}

.col-md-4{
    color: #FFFFFF;
}

.navbar{
    background-color: #6959CD;
}


